
.dark-bg{
    background-color: #191A19 !important;
}

.bg-secodary{
    background-color: #292B29;
}



/* Nav Start */
.navbar{
    background: #669A2B;
    background: -webkit-linear-gradient(left,  #669A2B, #669A2B , #44661C), linear-gradient(40deg, #87CC39, #669A2B ,#44661C );
}


.nav-link-style{
    color: #CEE5B3 !important;
}

.nav-link-style:hover , .nav-link-style::after{
    color: #2E3328 !important;
}
/* Nav End */



/* About Start */
.full-hight{
    height: calc(100vh - 72px);
}
.heading-text{
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 3.338rem;
    font-weight: 800;
    text-align: left;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left,  #87CC39, #669A2B , #44661C), linear-gradient(90deg, #87CC39, #669A2B ,#44661C );
    -webkit-background-clip: text;
    color: #669A2B;
}
.p-text {
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: left;
    color: #5F665F;
    text-align: justify;
}
/* About End */


/* button start */
.main-btn {
    display: inline-block;
    padding: 10px 20px !important;
    font-size: 16px !important;
    color: #CEE5B3 !important;
    background-color: #669A2B !important;
    border: none !important;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
.main-btn:hover {
    background-color: #3A4F16 !important;
  }
 /* button end */



/* Follow start */
.social-media{
    filter:grayscale(100%) contrast(50%);
}

.social-media:hover {
    filter: none;
}
/* Follow End */




.skill-box{
    border: 3px solid #5F665F ;
    border-radius: 70px;
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
    padding: 8px 16px;
}


/* form start */
.form-control{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #313331 !important;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #3D403D !important;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-label{
    color: #5F665F;
    font-size: 1.25rem;
}
/* form end */


/* paraghrap style start */
p::selection {
    background-color: #3A4F16; 
    color: white;
}


p{
    margin-bottom: 0rem !important;
}
/* paraghrap style end */
